#---------------------------------------------------------------------------------
# Database driver definitions configuration
# Format of the file is I hope obvious, if you want to add some database, don't
# forget ":" or "/" after host string before database name, and also to add
# driver definition to drivers field below.
#
# If you find mistake or want to add some other driver, please
# write to mn@puakma.net
#=================================================================================
drivers=firebird,hsqldbserver,hsqldbstand,hsqldbweb,jdtsms,ms,mysql,oci,oracle,postgre

mysql.name=MySQL
mysql.driver=com.mysql.jdbc.Driver
mysql.url=jdbc:mysql://<host>:[3306]/

firebird.name=Firebird
firebird.driver=org.firebirdsql.jdbc.FBDriver
firebird.url=jdbc:firebirdsql:[//host[:port]/]

ms.name=Microsoft SQL Server
ms.driver=com.microsoft.jdbc.sqlserver.SQLServerDriver
ms.url=jdbc:microsoft:sqlserver://<host>:<1433>

oci.name=Oracle OCI Driver
oci.driver=oracle.jdbc.driver.OracleDriver
oci.url=jdbc:oracle:oci8:@

oracle.name=Oracle Thin Driver
oracle.driver=oracle.jdbc.driver.OracleDriver
oracle.url=jdbc:oracle:thin:@<server>[:<1521>]:

postgre.name=Postgre SQL
postgre.driver=org.postgresql.Driver
postgre.url=jdbc:postgresql:[<//host>[:<5432>/]]

hsqldbstand.name=HSQLDB Standalone
hsqldbstand.driver=org.hsqldb.jdbcDriver
hsqldbstand.url=jdbc:hsqldb:

hsqldbfile.name=HSQLDB File
hsqldbfile.driver=org.hsqldb.jdbcDriver
hsqldbfile.url=jdbc:hsqldb:file:fileDirectory

hsqldbserver.name=HSQLDB Server
hsqldbserver.driver=org.hsqldb.jdbcDriver
hsqldbserver.url=jdbc:hsqldb:hsql://<server>[:<1476>]

hsqldbweb.name=HSQLDB Web Server
hsqldbweb.driver=org.hsqldb.jdbcDriver
hsqldbweb.url=jdbc:hsqldb:http://<server>[:<1476>]

jdtsms.name=jTDS Microsoft SQL
jdtsms.driver=net.sourceforge.jtds.jdbc.Driver
jdtsms.url=jdbc:jtds:sqlserver://<hostname>[:<1433>]/

# New driver template - please uncomment, and add prefix, and then add prefix
# to drivers property
#.name=
#.driver=
#.url=
